{{- $name := "Alexander Wolff" -}}
{{- $email := "wolffaxn@gmail.com" -}}
{{- $gpg_keyid := "CC475A552C299D3B" -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
gpg_keyid = {{ $gpg_keyid | quote }}
hostname = {{ $hostname | quote }}

[edit]
command = "code"
args = ["--wait"]
